/*  MARCELA SUSANA KOMANSKI - DNI 23771567  */

body {
    background-color: #427E80;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 40px;
    
}

/* Animación del logo */

#monitorGr1, #tecladoGr1, #monitorCh2, #tecladoCh2 {
    animation-name: trasladar;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#monitorCh2, #tecladoCh2 {
    fill-opacity: 0;
    animation-delay: 1s;

}

@keyframes trasladar {
    from {
        transform:translate(0px,-20px);
        fill-opacity: 0;
    }
    to {
        transform:translate(0px,0px);
        fill-opacity: 1;
    }
}
/*---*/

.menu {
    display: flex;
    width: 300px;
    justify-content: space-around;
    text-decoration: none;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.item_menu {
    display: list-item;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 2px 3px #154454;
    border-radius: 10px;
    padding: 10px;
    background-color: #F0F5E4;
    color: #154454;
    font-weight: 300;
    cursor: pointer;
    text-align: center;
}

header {
    background: url(./assets/imagenes/codigo.jpeg) 50% 0 fixed;
    background-size: cover;
    min-height: 500px;
    color: #eeeeee;
    font-size: 28px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 120px;
}


h1 {
    font-family: 'Montserrat', sans-serif;
    background-color: #2D2D2D;
    text-shadow: 4px 4px black;
    text-align: center;
    font-weight: bold;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px #154454;
    color: #F0F5E4;
    font-size: 40px;
    text-align: center;
    display: block;
    font-weight: bold;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}

.texto {
    width: 45%;
}

main {
    padding: 100px 20px;
}

.cont_padre {
    margin: 100px 0px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    font-family: 'Montserrat', sans-serif;
}

.cont_hijo {
    width: 350px;
    height: 400px;
    border: 5px solid #154454;
    background-color: #F0F5E4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.imagen_tarjeta {
    width: 100%;
}

.texto_tarjeta {
    width: 90%;
    text-align: center;
    height: 30px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.como_boton{
    padding: 10px;
    border-radius: 10px;
    background-color: #427E80;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 2px 3px #154454;
    text-align: center;
    text-decoration: none;
    width: 40%;
    margin-bottom: 20px;
    color: #F0F5E4;
    cursor: pointer;
}


footer {
    background-color: #1d1d1d;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    color: white;
}

.logo_footer {
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 60px;
    color: white;

}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
   
div {
    display: block; 
    font-family: 'Montserrat', sans-serif;
}

/* Movimiento de Botones al clickear*/

.item_menu:active {
    box-shadow: none;
    transform: translateY(4px);
}

.como_boton:active {
    box-shadow: none;
    transform: translateY(4px);
}


    /*-- pagina de Historia-*/


.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedorHijo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 50px;
    gap: 20px;
}

.articleVideo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
}
.contenedor_video {
    padding: 5px;
    background-color: black;
    width: 70%;
    display: block;
    font-family: 'Montserrat', sans-serif;
}

video {
    width: 100%;
    background-size: cover;
    object-fit: contain;

}

.barra_video {
    display: flex;
    gap: 20px;
    background-color: #1d1d1d;
    border-radius: 10px;
    padding: 2px 5px;
    display: flex;
    justify-content: space-between;
}

#botonera_video {
    display: flex;
    gap: 20px;
}

#play, #pause {
    width: 80px;
    box-shadow: 2px 3px #154454;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    background-color: #F0F5E4;
    color: #154454;
    font-weight: 300;
}

#showTime {
    padding-top: 28px;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


/*--Página de poner a prueba-*/

.rompecabezas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cajas_soltar {
    display: flex;
    flex-direction: row;
}

#cajasoltar1, #cajasoltar2, #cajasoltar3 {
    width: 275px;
    height: 400px;
    display: inline-block;
    border: 2px solid black;
    background-color: grey;
    text-align: center;
}

.caja_imagenes {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 40px;
}

#imagen1, #imagen2, #imagen3 {
    width: 275px;
    height: 400px;
}

#boton_reiniciar {
    display: flex;
    margin: auto;
    padding: 10px 100px;
    box-shadow: 2px 3px #154454;
    border-radius: 10px;
    text-decoration: none;
    background-color: #F0F5E4;
    color: #154454;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

#boton_reiniciar:active {
    box-shadow: none;
    transform: translateY(4px);
}